.wrapper {
  border: 1px solid #d3d3d3;
  border-radius: 3px;
  padding: 16px;
  margin-top: 16px;
}

.address {
  border-bottom: 1px solid #d3d3d3;
  padding-bottom: 16px;
}

.section-2 {
  display: flex;
  align-items: center;
  padding-top: 16px;
}

.name {
  margin-left: 20px;
}

button {
  padding: 10px;
  border: navajowhite;
  background: #16d998;
  color: #fff;
  border-radius: 3px;
  width: 100%;
  margin-top: 32px;
  font-weight: bold;
}

button:hover {
  background-color: #16d9986b;
}
